 .u-section-1 {
  background-image: url("images/b7804190-23ce-9975-427a-b4551eb1da62.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  height: 261px;
  margin-top: 295px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  font-family: Poppins;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0px 0px 8px rgba(44,204,196,0.65);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 0 85px;
}

.u-section-1 .u-form-1 {
  height: 136px;
  width: 624px;
  margin: 66px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 9px 0 11px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  line-height: 1.8;
  text-transform: none;
  width: 589px;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 247px;
    margin-top: 309px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1 .u-image-1 {
    height: 150px;
    margin-top: 226px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-image-1 {
    height: 113px;
    margin-top: 155px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}